body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: none;
  padding: 10px;
  width: calc(100% - 176px);
}

.jumbotron {
  background-color: transparent;
  border-bottom: 10px solid black;
  border-radius: 0;
  color: black;
  text-align: center;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  text-align: center;
}

.row {
  border-top: 1px solid white;
  height: 80px;
  white-space: pre-wrap;
}

.timeSlot {
  border-top: 1px dashed rgba(0,0,0,0.3);
  padding: 8px;
  width: 88px;
}

.hour {
  background-color: #ffffff;
  border-top: 1px dashed #000000;
  color: #000000;
}

.past, .present, .future, .saveBtn {
  color: white;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  background-color: #06aed5;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 16px;
  width: 88px;
}

.saveBtn:hover {
  background-color: #006699;
  transition: all 0.15s ease-in-out;
}

.hideMessage {
  visibility: hidden;
}